{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <link rel="preconnect" href="{{superdom}}">
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="theme-color" content="#000000">
        <link rel="stylesheet" href="{{superdom}}/static/styles/w3.css">
        <link rel="stylesheet" href="{{superdom}}/static/fonts/Poppins.css">
        <link rel="stylesheet" href="{{superdom}}/static/fonts/Questrial.css">
        <link rel="stylesheet" href="{{superdom}}/static/icons/material.css">
        <link rel="icon" href="{{superdom}}/static/graphics/icon.svg">
        <link rel="stylesheet" href="{% static 'styles/index.css' %}">
        {% block title %}<title>{{appname}}</title>{% endblock %}
    </head>
    <body>
        {% block nav %}
        <nav class="w3-row">
            <span class="w3-left w3-padding-small"><h3>{{appname}}</h3></span>
            <span class="w3-right w3-row w3-padding">
                <a href="{{superdom}}"><button class="secondary"><img src="{{superdom}}/static/graphics/icon.svg" width="30">Knotters</button></a>
            </span>
        </nav>
        {% endblock %}
        {% block content %}
        <div class="w3-row w3-padding accent">
          <marquee behaviour=alternate>
            {% for alert in alerts %}
              <a target="_blank" rel="noreferrer" href="{{alert.link}}"><button class="primary">{{alert}}</button></a>
            {% endfor %}
              <button class="primary">{{ totalproviders }} providers so far!</button>
          </marquee>
        </div>
        <div class="w3-row w3-center w3-light-grey" style="padding-bottom: 22px;">
            <br/>
            {% for need in needs %}
            <div class="w3-col w3-quarter w3-padding">
                <a href="/needs/{{need.id}}">
                    <div class="pallete primary">
                        <img src="/media/{{need.image|safe}}" width="100"/>
                        <h2>{{need.type | capfirst}}</h2>
                        <span>{{need.about | capfirst}}</span>
                    </div>
                </a>
            </div>                
            {% endfor %}
            <div class="w3-col w3-quarter w3-padding">
                <a href="/needs/">
                    <div class="pallete sub-accent">
                        <div class="w3-row material-icons" style="font-size:92px">launch</div>
                        <h2 >More services</h2>
                        <span>Extra services you need which are not shown here.</span>
                    </div>
                </a>
            </div>
        </div>
        <br/>
        <div class="w3-row w3-padding w3-center">
            {% for phone in phones %}
            <button class="negative"><i class="material-icons">call</i><a href="tel:{{phone.number}}">{{phone.text}}</a></button>
            {% endfor %}
        </div>
        <br/>
        <div class="w3-row">
            <div class="w3-col w3-half w3-padding">
                <div class="pallete accent">
                    <div class="flourish-embed flourish-chart" data-src="story/230110"><script src="https://public.flourish.studio/resources/embed.js"></script></div>
                </div>
            </div>
            <div class="w3-col w3-half">
                <div class="w3-row w3-padding">
                    <div class="pallete primary" style="height: 44vh;">
                        <center><h3>Latest</h3></center>
                        <marquee direction="up" scrollamount="3" style="height: 30vh;" behaviour=alternate>
                        {% for latest in latests %}
                        {% if latest.link %}
                        <a target="_blank" rel="noreferrer" href="{{latest.link}}">
                        {% endif %}
                        <h4 class="w3-row {% if latest.link %}positive-text{%endif%}">
                            <li>{{latest.content}}</li>
                        </h4>
                        {% if latest.link %}
                        </a>
                        {% endif %}
                        {% endfor %}
                        </marquee>
                    </div>
                </div>
                <div class="w3-row w3-padding">
                    <div class="pallete positive">
                        <iframe src="https://www.google.com/maps/d/embed?mid=1yxvXy78wkNoYdtKHYDCPu0lcFfgqB0yq" style="width:100%;height:40vh;border:0;border-radius:12px" ></iframe>
                    </div>
                </div>
            </div>
        </div>
        <br/>
        <div class="w3-row sub-accent">
            <br/>
            <center><h1>Media Clips</h1></center>
            {% for video in videos %}
            <div class="w3-col w3-third w3-padding">
                <iframe style="height:300px; width: 100%; border-radius: 12px;" src="{{video.link}}" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
            {% endfor %}
            <div class="w3-row w3-center w3-padding">
            <br/>
            <a href="/mediaclips"><button class="positive"><i class="material-icons">open_in_new</i>View more</button></a>
            </div>
            <br/>
        </div>
        <div class="w3-row w3-light-grey w3-padding-small">
            <br/>
            <center><h1>Frequently Asked Questions</h1></center>
            {% for faq in faqs %}
            <details class="primary">
                <summary><h2 class="positive-text">{{faq.question}}</h2></summary>
                <div class="w3-padding">
                   <h4>{{faq.answer}}</h4>
                   {% if faq.source %}
                   <h6><a class="positive-text" href="{{faq.source}}">Source: {{faq.source}}</a></h6>
                   {% endif %}
                </div>
            </details>
            {% endfor %}
            <br/><br/>
            <div class="w3-row"></div>
        </div>
        {% endblock %}
        {% block footer %}
        <footer class="w3-row secondary w3-padding" style="min-height: 50vh;">
            <br/><br/>
            <div class="w3-col w3-half primary-text w3-padding">
                <a href="mailto:{{contactmail}}"><button class="primary"><i class="material-icons">mail</i>{{contactmail}}</button></a><br/><br/>
                Github <a target="_blank" rel="noreferrer" href="https://github.com/Knotters"><button class="primary">Knotters</button></a><br/><br/>
                Twitter <a target="_blank" rel="noreferrer" href="https://twitter.com/knottersdotorg"><button class="w3-blue">knottersdotorg</button></a><br/><br/>
                Instagram <a target="_blank" rel="noreferrer" href="https://instagram.com/knottersdotorg"><button class="w3-pink">knottersdotorg</button></a>
            </div>
            <div class="w3-col w3-half w3-padding-small">
                <div class="w3-row">
                    <h2 class="primary-text w3-right">{{appname}} by <a href="{{superdom}}">Knotters Community</a>.</h2>
                </div>
                <div class="w3-row">
                    <img class="w3-right" src="{{superdom}}/static/graphics/icon.svg" width="100" />
                </div>
            </div>
        </footer>
        {% endblock %}
    </body>
</html>