{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
        <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@500&family=Questrial&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <link href="{% static 'styles/index.css' %}"  rel="stylesheet">
        <title>{{appname}}</title>
    </head>
    <body>
        <nav class="w3-row">
            <span class="w3-left w3-padding-small"><h3>{{appname}}</h3></span>
            <span class="w3-right w3-row w3-padding">
                <a href="/"><button class="secondary"><i class="material-icons">home</i>Knotters</button></a>
                <button class="accent"><i class="material-icons">volunteer_activism</i>Volunteer</button>
            </span>
        </nav>
        <div class="w3-row w3-padding accent">
            <button class="primary">Vaccines now available for 18-44 age group</span>
        </div>
        <div class="w3-row w3-center w3-light-grey" style="padding-bottom: 22px;">
            <br/>
            {% for need in needs %}
            <div class="w3-col w3-quarter w3-padding">
                <a href="/needs/{{need}}"><div class="pallete primary">
                    <div class="w3-row material-icons w3-jumbo">
                        {{need.icon}}
                    </div>
                    <h2>{{need.type | capfirst}}</h2>
                    <span>{{need.about | capfirst}}</span>
                </div>
                </a>
            </div>
            {% endfor %}
        </div>
        <div class="w3-row w3-padding w3-center">
            <br/>
            <button class="negative"><i class="material-icons">call</i><a href="tel:108">Dial 108 for emergency</a></span>
            <button class="sub-accent"><i class="material-icons">call</i><a href="tel:104">Dial 104 for covid drugs & oxygen</a></span>
        </div>
        <div class="w3-row sub-accent">

        </div>
    </body>
</html>