{% extends 'index.html' %}
{% load static %}
{% block og %}
<meta property="og:title" content="{{need.type|capfirst}} Providers" />
<meta
property="og:description"
content="{{need.about}}"
/>
<meta property="og:site_name" content="{{need.type| capfirst}} · {{appname}}" />
{% endblock %}
{% block title %}<title>{{need | capfirst}} · {{appname}}</title>{% endblock %}
{% block nav %}
<nav class="w3-row">
    <a href="/needs" class="w3-left w3-padding"><button class="primary"><i class="material-icons">arrow_back</i></button></a>
    <span class="w3-left"><h3>{{need | capfirst}} providers</h3></span>
    <span class="w3-right w3-row w3-padding">
        {% if need.mapsrc %}
        <a href="{{need.mapsrc}}" target="_blank" rel="noreferrer"><button class="positive"><i class="material-icons">open_in_new</i>Map Source</button></a>
        {% endif %}
        <a href="{{superdom}}"><button class="secondary"><img src="{{superdom}}/static/graphics/self/icon.svg" width="25">Knotters</button></a>
    </span>
</nav>
{% endblock %}
{% block content %}
{% if need.mapsrc %}
<iframe src="{{need.mapsrc}}" width="100%" height="700"></iframe>
{% else %}
<div class="w3-row sub-accent w3-padding">
    <form method="GET">
    {% if state %}
        <input type="hidden" value="{{state}}" name="state">
    {% endif %}
    <input list="states" id="stateselected" placeholder="Choose state"
    {% if state %}
     value="{{state.name}}"
     disabled
     {% else %}
     name="state"
     {% endif %}
      required />
    <datalist id="states">
    </datalist>
    {% if state %}
    <input list="districts" name="district" id="districtselected" placeholder="Choose district"
    {% if district %}
    value="{{district.name}}"
    {% endif %}
    required />
    <datalist id="districts">
    {% for district in districts %}
    <option value="{{district.name|capfirst}}">
    {% endfor %}
    </datalist>
    <a href="/needs/{{need.id}}" ><button class="negative" type="button"><i class="material-icons">clear</i>Clear filters</button></a>
    {% endif %}
    <button class="positive" type="submit"><i class="material-icons">autorenew</i>Load providers</button>
    </form>
</div>
<div class="w3-row w3-light-grey" style="padding-bottom: 22px;">
    <br/>
    {% for lead in leads %}
    <div class="w3-col w3-quarter w3-padding cards">
        <div class="pallete primary" style="display: flex; flex-direction: column;justify-content: space-evenly;">
            {% if lead.provider %}
            <h3>{{lead.provider}}</h3>
            <h6>{{lead.name}}</h6>
            {% else %}
                {% if lead.name %}
                <h3>{{lead.name}}</h3>
                {% endif %}
            {% endif %}
            <div class="w3-row">
                {% if lead.contact %}
                    {% if "www" in lead.contact or "http" in lead.contact %}
                    <a target="_blank" rel="noreferrer" href="{{lead.contact}}"><button title="Contact" class="positive"><i class="material-icons">open_in_new</i>Website
                    {% else %}
                    <a href="tel:{{lead.contact}}"><button title="Contact" class="sub-accent"><i class="material-icons">call</i>{{lead.contact}}
                    {% endif %}
                    </button>
                    </a><br/>
                {% endif %}
                {% if lead.address %}
                <a target="_blank" rel="noreferrer" href="https://www.google.com/maps/search/{{lead.address}}+{{lead.state.name}}"><button title="Location" class="accent"><i class="material-icons">place</i>{{lead.address}}</button></a><br/>
                {% endif %}
                {% if lead.lastupdate %}
                <button title="Last updated" class="primary"><i class="material-icons">history</i>{{lead.lastupdate}}</button><br/>
                {% endif %}
                <br/>
                {% if lead.state %}
                <div class="w3-right">{% if lead.district %}{{lead.district.name}}, {% endif %}{{lead.state.name}}</div>
                {% endif %}
            </div>
        </div>
    </div>
    {% empty %}
    <center class="w3-padding">
        <i class="w3-jumbo material-icons">error_outline</i>
        <h1>No leads for {{need}} support yet {% if district %} in {{district.name}}, {% endif %}{% if state %} in {{state.name}}{% endif %}.</h1>
        <h4>Please keep checking here, as the community is regularly updating resources.</h4>
        
        {% comment %} <h5>Meanwhile, please <a class="positive-text" href="/volunteer">volunteer</a> if you are in the state to help others!</h5> {% endcomment %}
    </center>
    {% endfor %}
</div>
{% if totalleads %}
<div class="w3-row w3-center w3-padding">
    <div class="w3-row">
        <button class="secondary">Showing {{from}}-{{till}} out of {{totalleads}} sources</button>
    </div>
    <div class="w3-row">
        <div class="w3-col w3-half w3-padding-small">
        {% if from > 1 %}
        <form method="POST">
        {% csrf_token %}
        <input type="hidden" name="from" value="{{from|add:"-10"}}" type="number" />
        <input type="hidden" name="till" value="{{till|add:"-10"}}" type="number" />
        <button type="submit" class="accent"><i class="material-icons">skip_previous</i>Previous</button>
        </form>
        {% endif %}
        </div>
        <div class="w3-col w3-half w3-padding-small">
        {% if till != totalleads %}
        <form method="POST">
        {% csrf_token %}
        <input type="hidden" name="from" value="{{from|add:"10"}}" type="number" />
        <input type="hidden" name="till" value="{{till|add:"10"}}" type="number" />
        <button type="submit" class="accent">Next<i class="material-icons">skip_next</i></button>
        </form>
        {% endif %}
        </div>
    </div>
</div>
{% endif %}
{% endif %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="{% static 'scripts/utilities.js' %}"></script>
{% endblock %}
