{% extends 'index.html' %}
{% load static %}
{% block og %}
<meta property="og:title" content="Media · {{appname}}" />
<meta
property="og:description"
content="Media clips for information related to COVID-19."
/>
<meta property="og:site_name" content="Media · {{appname}}" />
{% endblock %}
{% block title %}<title>Media · {{appname}}</title>{% endblock %}
{% block nav %}
<nav class="w3-row sub-accent">
    <a href="/" class="w3-left w3-padding"><button class="primary"><i class="material-icons">arrow_back</i></button></a>
    <span class="w3-left"><h3>Media Clips</h3></span>
    <span class="w3-right w3-row w3-padding">
        <a href="{{superdom}}"><button class="secondary"><img src="{{superdom}}/static/graphics/icon.svg" width="25">Knotters</button></a>
    </span>
</nav>

{% endblock %}
{% block content %}
<div class="w3-row w3-light-grey" style="padding-bottom: 22px;">
    <br/>
    {% for video in videos %}
    <div class="w3-col w3-third w3-padding">
        <iframe style="height:300px; width: 100%; border-radius: 12px;" src="{{video.link}}" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
    {% endfor %}
</div>
{% endblock %}