{% extends 'index.html' %}
{% load static %}
{% block title %}<title>Volunteer · {{appname}}</title>{% endblock %}
        {% block nav %}
        <nav class="w3-row primary">
            <a href="/needs" class="w3-left w3-padding"><button class="primary"><i class="material-icons">arrow_back</i></button></a>
            <span class="w3-left"><h3>{{appname}} Volunteer</h3></span>
            <span class="w3-right w3-row w3-padding">
                <a href="{{superdom}}"><img src="{{superdom}}/static/graphics/icon.svg" width="30">Knotters</button></a>
                <a href="{{superdom}}/accounts/logout"><button class="positive"><i class="material-icons">person</i>{{request.user}}</button></a>
            </span>
        </nav>
        {% endblock %}
        {% block content %}
        <div class="w3-row w3-center w3-padding">
            <br/>
            <i class="material-icons w3-jumbo positive-text">add_circle</i>
            <i class="material-icons w3-jumbo accent-text">volunteer_activism</i>
            <i class="material-icons w3-jumbo sub-accent-text">verified</i><br/>
            <h4>During these hard times, it's people like you, who volunteer to help your community selflessly, make this world a better place.</h4>
            <br/>
        </div>
        <div class="w3-row accent w3-padding">
            <div class="w3-col w3-half w3-padding w3-center">
                <div class="pallete primary">
                    <div class="material-icons w3-jumbo positive-text">add_circle</div>
                    <h3>Post a lead</h3>
                    <h6>Any info from your locality regarding anything which could help others.</h6>
                </div>
            </div>
            <div class="w3-col w3-half w3-padding w3-center">
                <div class="pallete primary">
                    <div class="material-icons w3-jumbo sub-accent-text">verified</div>
                    <h3>Verify leads for us</h3>
                    <h6>We have a total of {{totalunverified}} leads. You can help verify them!</h6>
                </div>
            </div>
        </div>
        <div class="w3-row accent w3-center w3-padding">
            <h2>Thank you!</h2>
        </div>
        <div class="w3-row w3-light-grey" style="padding-bottom: 22px;">
            <br/>
            {% for volunteer in volunteers %}
                <div class="w3-col w3-quarter w3-padding">
                    <div class="pallete primary">
                        <h3>{{lead.provider}}</h3>
                        <div class="w3-row">
                            <button class="sub-accent"><i class="material-icons">call</i><a href="tel:{{lead.contact}}">{{lead.contact}}</a></button><br/>
                            <button class="accent"><i class="material-icons">place</i><a target="_blank" rel="noreferrer" href="https://www.google.com/maps/search/{{lead.location}}">{{lead.location}}</a></button><br/>
                            {% if lead.verified %}
                            <button class="positive"><i class="material-icons">verified</i>Verified</button><br/>
                            <button class="primary"><i class="material-icons">history</i>{{lead.lastverified}}</button><br/>
                            {% else %}
                            <button class="negative" onclick="alert('Not verified yet. You can still try contacting.')"><i class="material-icons">warning</i>Unverified</button><br/>
                            {% endif %}
                        </div>
                    </div>
                </div>
            {% empty %}
                <center class="w3-padding">
                    <i class="w3-jumbo material-icons">error_outline</i>
                    <h1>No volunteers yet.</h1>
                    <h4>Please join the community to become one.</h4>
                </center>
            {% endfor %}
        </div>
        {% endblock %}
    </body>
</html>